<div data-ng-controller="CustomersCommonCtrl">
  <header layout-align="space-between" class="header-content">
    <div class="md-toolbar-tools" layout-fill>
      <div >
        <md-button class="md-raised" ui-sref="customers.new" aria-label="Nouveau">Nouveau</md-button>
      </div>

      <span flex></span>
      <md-input-container flex="30" class="md-icon-float md-icon-left md-block md-caption" style="padding-bottom: 0; margin-bottom: 0;"  hide-xs>
        <md-icon md-font-set="material-icons">search</md-icon>
        <label>Recherchez un client</label>
        <input type="text" ng-model="filter.search">
      </md-input-container>
    <span flex></span>

      <div>
        <md-button class="md-button md-raised" aria-label="Recharger">
          <md-icon md-font-set="material-icons">autorenew</md-icon>
        </md-button>
        <md-button class="md-button md-raised" aria-label="Liste" hide-xs>
          <md-icon md-font-set="material-icons">list</md-icon>
        </md-button>
      </div>       
    </div>
  </header>

  <md-content layout="column" flex class="md-margin" layout-align="center center" layout-fill> 
    <md-table-container layout-fill>
      <table md-table>
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column md-order-by="professional">Pro</th>
            <th md-column md-order-by="fullname">Nom / Raison social</th>
            <th hide-xs md-column md-numeric>Tél 1</th>
            <th hide-xs md-column md-numeric>Tél 2</th>
            <th hide-xs md-column md-order-by="town">Ville</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in dataItems | filter: filter.search | orderBy: query.order" ui-sref="customers.profile({id: item.id})">
            <td md-cell>
              <md-icon ng-show="item.professional" class="md-button md-icon-button md-warn" md-svg-icon="/static/img/humans/business.svg"></md-icon>
              <md-icon ng-show="!item.professional" class="md-button md-icon-button md-primary"  md-svg-icon="/static/img/humans/user.svg"></md-icon>
            </td>
            <td md-cell>{{item.fullname}}</td>
            <td hide-xs md-cell>{{item.phone_1}}</td>
            <td hide-xs md-cell>{{item.phone_1}}</td>
            <td hide-xs md-cell>{{item.town}}</td>
          </tr>
        </tbody>
      </table>            
    </md-table-container>
  </md-content>
</div>