<div flex layout-fill data-ng-controller="DashboardCtrl">

  <md-content layout="column" class="back-light" layout-padding>

    <div layout="column" layout-gt-xs="row" flex>
      <md-card flex>
        <md-card-content layout="column" layout-align="space-between end">
          <p class="md-display-3 orange-font" style="margin: 0px;">24</p>
          <p class="no-margin grey-font">TICKETS OUVERTS</p>
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-content  layout="column" layout-align="space-between end">
            <p class="md-display-3 blue-font" style="margin: 0px;">1</p>
            <p class="no-margin grey-font">TICKETS CLOS</p>
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-content  layout="column" layout-align="space-between end">
            <p class="md-display-3 indigo-font" style="margin: 0px;">2,4</p>
            <p class="no-margin grey-font">JOURS (moyenne)</p>
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-content  layout="column" layout-align="space-between end">
            <p class="md-display-3 green-font" style="margin: 0px;">127</p>
            <p class="no-margin grey-font">DOSSIERS TRAITES</p>
        </md-card-content>
      </md-card>
    </div>

    <div layout="column" layout-gt-xs="row" layout-align="start start">
      <md-card class="orange" flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">News</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis dolor at tempor elementum. Cras malesuada, turpis vitae placerat maximus, sapien metus cursus magna, et egestas magna nunc vitae augue.
          </p>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis dolor at tempor elementum. Cras malesuada, turpis vitae placerat maximus, sapien metus cursus magna, et egestas magna nunc vitae augue.
          </p>          
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Activités</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="start start">
          <h2>Titre 1</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis dolor at tempor elementum. Cras malesuada, turpis vitae placerat maximus, sapien metus cursus magna, et egestas magna nunc vitae augue.
          </p>        
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">A FAIRE</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis dolor at tempor elementum. Cras malesuada, turpis vitae placerat maximus, sapien metus cursus magna, et egestas magna nunc vitae augue.
          </p>
        </md-card-content>
      </md-card>
    </div>

  </md-content>
</div>    

