<div flex layout-fill data-ng-controller="DashboardCtrl" layout="column">
  <!-- TOOLBAR -->
  <!--
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="classic_badge">24 TICKETS EN COURS</span>      
    </div>
  </md-toolbar>
  -->

  <!-- CONTENT -->
  <md-content layout="column" layout-fill class="back-light" ng-cloak>



    <div layout="row">
      <div flex="25">
        <md-card>
          <md-card-content  layout="column" layout-align="space-between end">
            <div layout="column" layout-align="space-between end">
              <p class="md-display-3 orange-font" style="margin: 0px;">24</p>
              <p class="no-margin grey-font">TICKETS OUVERTS</p>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <md-card-content  layout="column" layout-align="space-between end">
            <div layout="column" layout-align="space-between end">
              <p class="md-display-3 blue-font" style="margin: 0px;">1</p>
              <p class="no-margin grey-font">TICKETS CLOS</p>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <md-card-content  layout="column" layout-align="space-between end">
            <div layout="column" layout-align="space-between end">
              <p class="md-display-3 indigo-font" style="margin: 0px;">2,4</p>
              <p class="no-margin grey-font">JOURS (moyenne)</p>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <md-card-content  layout="column" layout-align="space-between end">
            <div layout="column" layout-align="space-between end">
              <p class="md-display-3 green-font" style="margin: 0px;">127</p>
              <p class="no-margin grey-font">DOSSIERS TRAITES</p>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>            
    <br>
    <div layout="row">
      <div flex="30">
        <md-card class="orange">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">News</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis dolor at tempor elementum. Cras malesuada, turpis vitae placerat maximus, sapien metus cursus magna, et egestas magna nunc vitae augue. Pellentesque congue cursus dignissim. Quisque congue ex vitae magna finibus egestas. In sit amet risus odio. Mauris non vehicula erat. Morbi viverra ligula aliquet, luctus purus in, placerat augue. Vestibulum quis est a libero bibendum malesuada nec a lorem. In ut faucibus libero.
            </p><p>
            Morbi quis dapibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas et sapien auctor, suscipit diam et, consectetur lectus. Maecenas tortor sapien, congue et libero sed, mollis imperdiet massa. Curabitur malesuada risus in velit luctus, quis sollicitudin enim efficitur. Donec consequat sollicitudin blandit. Etiam vulputate dignissim facilisis. Aenean mattis sit amet tellus et imperdiet. Nunc mattis, urna nec semper porttitor, nisi sem vulputate nunc, vitae semper ante ante sit amet lorem. Nulla aliquet vel est vel ultrices. Vestibulum quis egestas eros. In urna est, lacinia non imperdiet vel, vehicula et orci. Donec sagittis cursus magna, ut volutpat mi cursus sit amet. Sed arcu lacus, viverra in aliquam ut, sagittis vitae velit.
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex="30">
        <md-card class="">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Activités</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column">
            <p>
            Ut porta rhoncus tortor, et euismod diam suscipit nec. Fusce posuere eleifend metus tincidunt egestas. Aenean ac ultricies felis. Maecenas tempor nulla sed felis tincidunt tincidunt. Suspendisse tempor est ut mi pellentesque rutrum. Etiam pulvinar malesuada gravida. Vestibulum gravida ipsum in eleifend luctus. Mauris sodales tellus id turpis vulputate dictum. Integer est eros, rhoncus vitae lacus scelerisque, fringilla suscipit leo. Maecenas at ultricies tortor. In eu vulputate sem. Nulla ac vestibulum mauris.
            </p><p>
            Curabitur erat sem, tincidunt sit amet odio faucibus, faucibus accumsan erat. Donec maximus lobortis tincidunt. Etiam placerat fermentum lectus, vel posuere erat auctor ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor convallis condimentum. Quisque nec laoreet neque. Nunc a neque eget sapien hendrerit tempor. Nam quis arcu ut quam lacinia mollis. Phasellus tempus, mauris eu finibus finibus, felis dolor scelerisque nibh, et luctus sem lacus sed risus. Quisque porttitor, mi ac condimentum placerat, lorem metus ullamcorper velit, a sagittis ipsum purus vitae ante. Nulla hendrerit nisl diam, quis vehicula massa venenatis in.
            </p><p>
            Integer euismod condimentum sem nec consectetur. Fusce euismod eu magna et lobortis. Pellentesque feugiat nulla arcu, semper varius nibh sollicitudin a. Sed et magna quam. Nulla vitae lectus pretium, euismod augue vel, efficitur lacus. Morbi et turpis id erat sagittis rhoncus. Nulla feugiat ipsum nec ultrices mollis. Cras id orci vestibulum, tempus felis vitae, tincidunt metus. In hac habitasse platea dictumst. Aenean velit lacus, interdum eget elit et, aliquet pulvinar lorem. Praesent id tincidunt augue.
            </p>          
          </md-card-content>
        </md-card>
      </div>      
      <div flex>
        <md-card class="">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">A FAIRE</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row">
            <md-list ng-controller="TodoLightCtrl" ng-cloak>
              <md-list-item ng-repeat="item in todo">
                <md-checkbox ng-model="item.history.completed"></md-checkbox>
                <p>Ticket {{ item.ticket }} - {{ item.history.content.content }}</p>
                  <md-icon ng-show="item.history.content.notify" class="md-warn" ng-click="" md-font-set="material-icons">assignment_late</md-icon>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </div>


  </md-content>
</div>    

