<div flex layout-fill data-ng-controller="NewTicketCtrl" layout="column">
  <header layout-align="space-between" class="header-content">
    <div class="md-toolbar-tools" layout-fill>
      <div>
        <md-button class="md-raised md-button" ui-sref="tickets.list" aria-label="Retour">
          <md-icon md-svg-icon="/static/img/svg/ic_arrow_back_black_24px.svg"></md-icon>
        </md-button>
      </div>
      <span flex></span>
      <div>
        <md-button class="md-button md-raised" aria-label="Valider">
          <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
        <md-button class="md-button md-raised" aria-label="Quitter">
          <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        </md-button>
      </div>       
    </div>
  </header>

<md-content layout="column" layout-fill flex class="back-light">
  <div flex="5"></div>
  <div flex layout="row">
    <div flex="20"></div>
    <md-card flex>
      <md-card-content layout="column">

      </md-card-content>
    </md-card>
    <div flex="20"></div>
  </div>
  <div flex="5"></div>
</md-content>
</div>