<div flex layout-fill data-ng-controller="NewTicketCtrl" layout="column">
  <header layout-align="space-between" class="header-content">
    <div class="md-toolbar-tools" layout-fill>
      <div>
        <md-button class="md-raised md-button" ui-sref="tickets.list" aria-label="Retour">
          <md-icon md-svg-icon="/static/img/svg/ic_arrow_back_black_24px.svg"></md-icon>
        </md-button>
      </div>
      <span flex></span>
      <div>
        <md-button class="md-button md-raised" aria-label="Valider">
          <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
        <md-button class="md-button md-raised" aria-label="Quitter">
          <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        </md-button>
      </div>       
    </div>
  </header>

<md-content layout="column" layout-fill flex class="back-light">
  <div flex="5"></div>
  <div flex layout="row">
    <div flex="20"></div>
    <md-card flex>
      <md-card-content layout="column">

        <form role="form">
        <div layout="row">
          <h3 class="md-primary">PRODUIT</h3>
          <span flex></span>
          <span class="md-subheader">ETAPE 1/2</span>
        </div>
          <div layout-gt-sm="row">
            <md-input-container style="margin-right: 10px;" flex>
              <label>Marque</label>
              <md-select ng-model="brand">
                <md-option ng-repeat="brand in brands" value="{{brand}}">{{brand}}</md-option>
              </md-select>
            </md-input-container> 
            <md-input-container style="margin-right: 10px;" flex>
              <label>Catégorie</label>
              <md-select ng-model="size">
                <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
              </md-select>
            </md-input-container>            
            <md-input-container flex>
              <label>Famille</label>
              <md-select ng-model="selectedToppings">
                <md-optgroup label="imprimante et multifonction">
                  <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'imprimante et multifonction' }">{{topping.name}}</md-option>
                </md-optgroup>
                <md-optgroup label="high tech">
                  <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'high tech' }">{{topping.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>

          <div layout-gt-sm="row" layout-align="center center">
            <label>Désignation produit</label>
            <md-chips ng-model="fruitNames" readonly="readonly" md-removable="removable" flex></md-chips>            
          </div>

          <div layout-gt-sm="row">
            <label>Garantie </label>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary"></md-checkbox>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex>
              <label>Description du problème</label>
              <textarea ng-model="model.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex>
              <label>Note</label>
              <textarea ng-model="model.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>


       
        </form>
      </md-card-content>
    </md-card>
    <div flex="20"></div>
  </div>
  <div flex="5"></div>
</md-content>
</div>