      <md-toolbar style="background-color: white;" >
        <div class="md-toolbar-tools">
          <h2>
            <span>Rechercher un ticket</span>
          </h2>
        </div>
      </md-toolbar>

      <md-content layout="column" flex class="md-margin" layout-align="top center">      
        
          <div layout="column" class="md-margin" layout-align="top center" style="background-color: grey;">
            <p>
              -- TEST PAGE --
            </p>
          </div>

      </md-content>