<div flex layout-fill data-ng-controller="NewTicketCtrl">
  <md-content layout="column" layout-fill flex class="back-light">

    <header layout-align="space-between" class="header-content" hide-xs>
      <div class="md-toolbar-tools" layout-fill>
        <div>
          <md-button class="md-raised md-button" ui-sref="tickets.list" aria-label="Retour">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
          </md-button>
        </div>
        <span flex></span>
        <div>
          <md-button class="md-button md-raised" aria-label="Modifier">
            <md-icon md-font-set="material-icons">edit</md-icon>
          </md-button>
        </div>       
      </div>
    </header>


    <div layout="row" layout-align="center" class="back-light md-margin">
      <md-card flex-gt-xs="70" layout-fill class="md-margin">
        <md-card-content layout-fill layout="column">

            <div layout="row">
              <h3 class="md-primary">TICKET #xxxx</h3>
              <span flex></span>
              <span class="md-subheader">vue ticket::test upload</span>
            </div>

            <div layout="column" flow-init flow-files-add="myUpload($files)" flow-files-submitted="myUpload($files)" flow-file-success="$file.msg = $message" data-ng-controller="UploadCtrl3">
              <div>
                <span class="md-button md-raised" flow-btn><md-icon md-font-set="material-icons">add</md-icon></span>
                <!--
                <input type="file" flow-btn/>
                <table>
                  <tr ng-repeat="file in $flow.files">
                      <td>{{$index+1}}</td>
                      <td>{{file.name}}</td>
                      <td>{{file.msg}}</td>
                  </tr>
                </table>
              -->
              </div>

              <md-list>
                <md-subheader class="md-no-sticky">Fichiers</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="file in $flow.files" ng-click="null">
                  <img flow-img="file" class="md-avatar"/>
                  <div class="md-list-item-text" layout="column">
                  <h3>{{$index+1}} {{file.image}}</h3>
                  <h4>{{file.name}}</h4>
                  <p>{{file.msg ? file.msg : '...'}}</p>
                  </div>
                </md-list-item>
              </md-list>

              
            </div>

            
          </md-card-content>        
        </md-card>        
      </md-card>
    </div>

  </md-content>
</div>